@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Beau+Rivage&family=Nunito&family=Roboto+Slab:wght@200&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
:root {
  background-color: #f4f6f6;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: black(255, 255, 255, 0.815);
}
li {
  text-decoration: none;
  list-style: none;
}
#app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 1fr 1fr;
}
.header {
  grid-column: 1/5;
  background-color: white;
  min-height: fit-content;
  color: black;
  box-shadow: 1px 1px 5px grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 10vh;
  padding-left: 10px;
}

.menuItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.navbar {
  grid-row: 2/5;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 1px grey;
  height: 100vh;
  min-width: fit-content;
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 2px;
}
.inbox,
.curriculum,
.classes {
  padding-left: 10%;
}
.content {
  grid-row: 2/5;
  grid-column: 2/5;
}

/* DropDown test */
