@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Beau+Rivage&family=Nunito&family=Roboto+Slab:wght@200&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
:root {
  background-color: #f4f6f6;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: black(255, 255, 255, 0.815);
}
html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
li {
  text-decoration: none;
  list-style: none;
}
#app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 1fr 1fr;
  height: 100vh;
}
.header {
  grid-column: 1/5;
  background-color: red;
  color: white;
  min-height: fit-content;
  color: black;
  box-shadow: 1px 1px 5px grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding-left: 10px;
}
.header h1 {
  color: white;
}

.menuItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.navbar {
  grid-row: 2/5;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 1px grey;
  height: 90vh;
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 2px;
}
.inbox,
.curriculum,
.classes {
  padding-left: 10%;
}
.inbox h1,
.curriculum h1,
.classes h1 {
  cursor: pointer;
}
.content {
  grid-row: 2/5;
  grid-column: 2/5;
  display: grid;
  grid-template-rows: 1fr 20fr;
  max-height: 100vh;
}
/* Inbox */
.inbox-container {
  display: grid;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  max-height: 90vh;
  overflow: scroll;
}
.inbox-title {
  margin: 20px;
  font-size: 2rem;
  place-self: start;
  grid-row: 1;
}
/* Class MODAL */
.new-class-button {
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  text-decoration: none;
  background-color: rgb(119, 119, 243);
  color: white;
  height: 100px;
  width: 100px;
  border: 1px black solid;
  padding: 1rem;
  border-radius: 100px;
}

.new-class-button:active {
  background-color: rgba(0, 0, 255, 0.767);
}
.new-class-modal {
  place-self: center;
  position: fixed;
  z-index: 0;
  top: 50vh;
  left: 40vw;
  background-color: white;
  display: none;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 1px 2px 3px grey;
  border-radius: 5px;
  justify-content: center;
}
.new-class {
  padding: 20px;
}

.exit-button {
  margin: 5px;
}

.class-card {
  border-radius: 15px;
  margin: 10px;
  height: 200px;
  width: fit-content;
  max-width: 20vw;
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-content: flex-start;
}

.class-card:hover {
  background-color: white;
  border: solid 1px black;
  box-shadow: 1px 1px 4px grey;
}
.class-name,
.textbook-name {
  padding: 5px;
  text-align: start;
}

.class-name {
}

.textbook-title-name {
  justify-self: center;
  background-color: white;
  border: solid 1px black;
  border-radius: 15px;
  box-shadow: 1px 1px 4px grey;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: fit-content;
  padding: 10px;
}
